@keyframes slowVerticalMovement {
  0% {
    background-position: center bottom;
  }
  50% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;

  .header-page {
    text-align: center;
    padding: 16px;
    width: 100%;
    position: relative;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    h1 {
      position: relative;
      z-index: 1;
      padding-left: 20%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('/assets/images/Print.jpg') no-repeat center center;
      background-size: cover;
      z-index: 0;
      animation: slowVerticalMovement 120s infinite;
    }
  }

  .image-container {
    display: flex;
    gap: 50px;
    overflow-x: hidden;
    width: 80%;
    cursor: grab;
    user-select: none;
    margin-top: 100px;

    &:active {
      cursor: grabbing;
    }

    .image-wrapper {
      flex: 0 0 auto;
      border: 2px solid #e91e63;
      margin: 0 8px;
      width: 700px;
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ADD8E6;
      position: relative;
      transition: opacity 0.3s ease;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        opacity: 0.9;

        .overlay {
          opacity: 1;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
        font-size: 48px;
        transition: opacity 0.3s ease;

        p {
          cursor: pointer;
        }
      }
    }
  }

  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .image-container {
      flex-direction: column;
      gap: 20px;
    }

    .image-wrapper {
      width: auto !important;
      height: max-content !important;
      max-width: 100%;
      max-height: 100%;
    }
  }
}