.toolbar {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -300px; /* Ukryty na początku */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  border-radius: 100px 0px 0px 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px; /* Przerwy między przyciskami */

  &.open {
    right: 0; /* Toolbar się wysuwa */
  }

  button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: #555;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: #666;
    }

    fa-icon {
      margin-right: 8px;
    }
  }
}

.toolbar-toggle {
  position: fixed;
  top: 50%;
  right: 0;
  width: 40px;
  z-index: 999;
  height: 60px;
  background-color: #333;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px 0px 0px 100px;
  transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;

  transform: translateY(-50%);

  &.open {
    transform: translateY(-50%) rotate(180deg);
    border-radius: 0px 100px 100px 0px;
    right: 290px; /* Dopasowanie do szerokości toolbaru */
  }
}